node_modules/
.DS_Store
*.log
android/.gradle/
android/local.properties
android/app/build/
android/build/
ios/App/Pods/
ios/App/DerivedData/
ios/App/App/GoogleService-Info.plist
android/app/google-services.json
